<section class="column ">
  <nav class="breadcrumb">
    <ul>
      <li>
        <a [routerLink]="['/store']">Books</a>
      </li>
      <li class="is-active">
        <a>Book details</a>
      </li>
      <li *ngIf="book" class="is-active">
        <a>{{ book.title }}</a>
      </li>
    </ul>
  </nav>
  <ng-template [ngIf]="book" [ngIfElse]="notFound">
    <div class="columns">
      <div class="column is-one-third">
        <img src="assets/images/{{ book.image }}" width="100%"/>
      </div>
      <div class="column">
        <div class="columns">
          <h3 class="column is-size-4 has-text-weight-bold">{{ book.title }}</h3>
          <h2 class="column is-size-4 has-text-info has-text-right">${{ book.price }}</h2>
        </div>
        <h5 class="is-size-6">
          <span class="has-text-weight-semibold">Author: </span>
          <span>{{ book.author }}</span>
        </h5>
        <h5 class="is-size-6">
          <span class="has-text-weight-semibold">Rating: </span>
          <span>
                <img
                  *ngFor="let item of [].constructor(book.rating)"
                  style="margin-right: 0.125rem"
                  src="assets/images/star-yellow.svg"
                  alt="+"
                  width="16"
                />
              </span>
          <span>
                <img
                  *ngFor="let item of [].constructor(5 - book.rating)"
                  style="margin-right: 0.125rem"
                  src="assets/images/star-white.svg"
                  alt="+"
                  width="16"
                />
              </span>
        </h5>
        <h5 class="is-size-6">
          <span class="has-text-weight-semibold">Pages: </span>
          <span>{{ book.pages }}</span>
        </h5>
        <h5 class="is-size-6">
          <span class="has-text-weight-semibold">ISBN: </span>
          <span>{{ book.ISBN }}</span>
        </h5>
        <h5 class="is-size-6 has-text-weight-semibold" style="margin-top: 1rem;">Description:</h5>
        <p>{{ book.description }}</p>
      </div>
    </div>
    <div class="buttons">
      <a class="button is-medium is-info" (click)="addBook(book)">Add to cart</a>
    </div>
  </ng-template>
  <ng-template #notFound>
    <h3 class="is-text has-text-centered has-text-danger">Book not found!</h3>
  </ng-template>
  <app-store-notification></app-store-notification>
</section>
