<app-store-navbar></app-store-navbar>
<section class="section ">
  <div class="columns ">
    <div class="column is-4-tablet is-3-desktop is-2-widescreen">
      <app-store-sidemenu
        [currentPage]="currentPage"
        [cartItemsCount]="cartItems | cartCount"
        (changePage)="changePage($event)"
      ></app-store-sidemenu>
    </div>
    <main class="column ">
      <app-book-list
        *ngIf="currentPage === 'list'"
        (selectBook)="goToBookView($event)"
        (addItemToCart)="addItemToCart($event)"
      ></app-book-list>
      <app-book-view *ngIf="currentPage === 'book_view'" [book]="selectedBook"></app-book-view>
      <app-cart *ngIf="currentPage === 'cart'" [cartItems]="cartItems"></app-cart>
    </main>
  </div>
</section>
